@font-face {
    font-family: nanum;
    src: local('NanumGothic'),url(./font/NanumGothic-Regular.ttf) format('truetype');
    src: local("Nanum Pen"), url(./font/NanumPenScript-Regular.ttf) format('truetype');
    src: local("NanumGothicCoding"), url(./font/NanumGothicCoding-Regular.ttf) format('truetype');
    src: local("Noto Sans KR"), url(./font/NotoSansKR-Regular.otf) format('opentype');
}
.RTtable {
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightslategray;
    border-left: 1px solid lightslategray;
    border-spacing: 0px;

    .RTheader {
        font-family: 'NanumGothic', 'NanumGothicCoding', nanum;
        border: 1px solid #2d2d42;
        color: white;
        background-color: #2d2d42;
        .RTheadcell {
        }
    }
    .RTbody {
        font-family: 'Nanum Pen', 'NanumGothicCoding', nanum;
        .RTrow {
            .RTCell {
                height: 1.5em;
                text-align: center;
                .RTinput {
                    text-align: center;
                    width: 90%;
                    height: 100%;
                    border: 0px;
                    padding: 0px;
                    background-color: transparent;
                    font-family: 'Nanum Pen', 'NanumGothicCoding', nanum;
                }
            }
        }
        .RTrow:nth-child(odd) {
            background-color: #e5eaf8;
        }     
    }
}


.DPbody {
    height: 275px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid lightgray;
    font-family: 'Noto Sans KR', 'NanumGothic', nanum;
    .DPcell {
        display: flex;
        height: 180px;
        flex-basis: auto;
        flex-direction: row;
    }
    .DPheader {
        display: flex;
        flex-direction: row;
        height: 25px;
        width: 100%;
        border-bottom: 0.5px solid lightgray;
        .DPheadbar {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            justify-content: space-between;
            .DPheadcell{
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                .DPheadbt {
                    border: 0px;
                    background-color: #ffffff;
                    font-weight: bold;
                    &:active{
                        background-color: gray;
                    }
                }
            }
            .DPtextcell{
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
            }
        }
    }
    .DPcalender {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 180px;
        width: 100%;
        &:nth-child(n+2) {
            border-left: 0.5px solid lightgray;
        }
        .DPcalarea {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            .DPCalCell {
                width: 30px;
                height: 30px;
                border: 0px;
                background-color: white;
                justify-content: center;
                font-family: 'Noto Sans KR', 'NanumGothic', nanum;
                &:hover{
                    background-color: lightcyan;
                }
            }
            .holiday {
                color: red;
            }
            .special {
                color: orange;
            }
            .selected {
                background-color: #4B89DC;
                color: white;
                border: 2px solid #1835D0;
            }
            .Hselected {
                background-color: #4B89DC;
                color: red;
                border: 2px solid #1835D0;
            }
            .Hint {
                background-color: #4B89DC;
                color: red;
                border-radius: 0px;
            }
            .DPoutCell {
                width: 30px;
                height: 30px;
                border: 0px;
                background-color: white;
                justify-content: center;
                color: gray;
                font-family: 'Noto Sans KR', 'NanumGothic', nanum;
            }
            
            .int {
                background-color: #4B89DC;
                color: white;
                border-radius: 0px;
            }
        }
    }
    .DPselDate {
        display: flex;
        height: 20px;
        width: 100%;
        border-top: 0.5px solid lightgray;
        font-size: 10px;
    }
    .DPbtbar {
        display: flex;
        flex-direction: row-reverse;
        height: 25px;
        width: 100%;
        .DPbtcell {
            border: 0px;
            margin-left: 5px;
            background-color: #ffffff;
            font-weight: bold;
            :hover{
                background-color: lightblue;
            }
        }
        
    }
}
